@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
  font-family: 'Outfit';
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/**====EVERY FORM STYLE====**/

.form form{
  width: 400px;
  height: auto;
  background: #161D2F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  gap: 30px;
}

.form form h1{
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  font-weight: 300;
  align-self: flex-start;
}

.signinup-input{
  box-sizing: border-box;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1.5px solid #FFFFFF;
  color: #FFFFFF;
  padding: 15px;
}

.signinup-input::placeholder{
  font-size: 17px;
  line-height: 19px;
  
}

.signinup-button{
  background: #FC4747;
  border-radius: 6px;
  width: 100%;
  margin-top: 15px;
  padding: 15px 25px;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.form-type-text{
  cursor: pointer;
  color: #FFFFFF;
}
